* {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}

/* .container {
    max-width: 1140px;
    margin: auto;
} */


/* HEADER */
/* .header {
    background-color: black;
    background-color: transparent;
    height: 80px;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #fff;
    z-index: 1;
  } */
/* .nav-fixed{
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 100px;
    display: grid;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
} */
/* .nav-fixed {
  padding: 0px;
  background-color: var(--bg-color);
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05); 
} */
/* .navbar .active a {
  color: #009f4d;
} */

.navcorpvision a {
  color: #c2c2c2;
}

.navcorpvision p:first-child {
  font-size: 32px;
}

.navcorpvision p:last-child {
  font-size: 14px;
}

.header__icon1 {
  color: #009f4d;
  margin-right: 5px;
  /* vertical-align: bottom; */
}

.header__icon2 {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-sizing: border-box;
  background: #009f4d;
  color: white;
  outline: 0;
  transform-origin: 50%;
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Light theme */
#myBody {
  background-color: white;
}

/* #switchButton {
    background-color: white;
  } */
#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
  color: white;
  font-size: 20px;
  /* transform:skewX(-30) */
}

/* Dark Theme*/
.dark#myBody {
  background-color: black;
}

/* .dark #switchButton {
    background-color: black;
  } */
.dark #switchButton .fa-sun {
  display: block;
  color: white;
  font-size: 20px;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark .card {
  background-color: black;
  color: white;
}

.collapse {
  justify-content: space-between;
}

header.main-header {
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

header.nav-fixed {
  padding: 0px;
  background-color: #fff;
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* z-index: 1030; */
}

/* carousel */
#site-header{
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 90px 10px;
  transition: 0.4s;
  width: 100%;
  top: 0;
  z-index:99;
}
/* làm cho hình có độ mờ */
.carousel-inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 42, 55, 0.7);
}

.btn-success {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  color: white;
  background-color: #00A63F;
  border-color: #00a63f;
  font-size: 17px;
  font-weight: 600;
}
.Corpcarousel .carousel-caption{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.Corpcarousel .carousel-caption p{
  width: 50%;
  /* margin: 0 auto; */
}
.Corpcarousel .carousel-caption h1{
  font-size: 65px;
  line-height: 1;
  margin-bottom: 30px;
}
.Corpcarousel .carousel-caption p{
  font-size: 20px;
  margin-bottom: 30px;
}

/* ABOUT US */
/* .row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
} */
.title-small{
  font-size: 14px;
  font-weight: 600;
 line-height: 30px;
 letter-spacing: 1px;
 color: #7e7d7d;
 display: block;
}
.title-big{
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
  color: #3f3a64;
}
.content{
  font-size: 17px;
  line-height: 27px;
  color:#666 ;
  opacity: .8;
}
ul.sevice-list li{
  display: block;
  margin-bottom: 15px;
  
} 
ul.sevice-list i{
  color: #009f4d;
  margin-right: 5px;
  opacity: .8;
}
ul.sevice-list li a{
  text-decoration: none;
  color:#3f3a64;
  font-size: 18px;
 line-height: 28px;
 font-weight: 600;
 /* position: relative; */
}
.radius-image{
  border-radius: 8px;
}

/* FEATURE */
.feature{
  background-color:#f7f7f7 ;
}
.box-wrap{
  padding: 40px 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px;
  background-color: #fff;
  transition: all .5s;
}
.box-wrap:hover{
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}
.call-grids-w3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.box-wrap h4 a {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color:#3f3a64 ;
  text-decoration: none;
}

